* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
width: 100vw;
height: 100vh;
}

header {
    background-color: white;
    height: 10vh;
}

main {
    background-color: lightblue;
    height: 80vh;
}

footer {
    background-color: blanchedalmond; 
    height: 10vh;
}